@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


/* GENERAL */
body
{
    background-color: #222;
}

*
{
    margin: 0px;
    padding: 0px;
}

h1
{
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    color: #3187C6;

}

p
{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ccc;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #111;
    font-family: 'Quicksand', sans-serif;
}

a:hover
{
    color: #3187C6 ;
}

a:active
{
    color: #47b6e2;
}

.wrapper
{
    width: 99%;
    margin: 0px auto;
    padding: 0px 10px;
    display: flex;
    
}

#logo
{
    width: 80px;
    height: 80px;

}


/* HEADER */

header
{   
    background-color: #f0f0f0;
    border: solid 2px #222;
    height: 100px;
    width: 98%;

    border-radius: 10px;
    margin: 40px auto;
    
    position: sticky;
    top: 20px;
    z-index: 2;
}

header .nanonote
{
    flex: 1;
    display: flex;
    margin-top: 5px;    
}

header img
{
    margin-top: 5px;
}

header nav ul li
{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}

header nav ul li a
{
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 30px;

}

header ul
{
    list-style: none;
}

/* BREACKING NEWS */









/* PRESENTATION */

#presentation
{
    margin: 20px auto;


}

#presentation img
{
    margin: 50px 50px;
    width: 30%;
    height: 30%;
}

#presentation p
{
    margin-top: 100px;

}



/*  DOWNLOAD */

#download
{
    height: 400px;
    background-color: #1d1d1d;

}

#download #logoQt
{
    height: 300px;
    width: 350px;
    margin-top: 50px;
}

#download #logoGithub
{
    height: 350px;
    margin-top: 25px;
}

#download p
{
    margin-top: 150px;

}

#download a
{
    background-color: #3187C6;
    display: block;
    font-size: 30px;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    margin: 40px auto;
    text-align: center;
}

#download a:hover
{
    background-color: #f0f0f0;
}

/*  CONTACT */

#contact
{
    margin-top: 2000px;
}



/*  FOOTER */

footer
{
    width: 100%;
    height: 200px;
    background-color: #333;

}

footer ul
{   
    margin-left: 42.3%;
}

footer ul li
{
    display: inline-block;
}

footer ul li a
{
    color: #ccc;
    margin-right: 10px;
}